parameters:
	ignoreErrors:
		-
			message: "#^Cannot cast array\\|bool\\|string\\|null to string\\.$#"
			count: 2
			path: app/Console/Commands/SnapshotsBackfill.php

		-
			message: "#^Parameter \\#1 \\$portfolio of class App\\\\Jobs\\\\MakeMonthlySnapshotJob constructor expects App\\\\Models\\\\Portfolio, Illuminate\\\\Database\\\\Eloquent\\\\Model given\\.$#"
			count: 1
			path: app/Console/Commands/SnapshotsBackfill.php

		-
			message: "#^Call to an undefined static method App\\\\Jobs\\\\MakeMonthlySnapshotJob\\:\\:dispatch\\(\\)\\.$#"
			count: 2
			path: app/Filament/Resources/PortfolioResource.php

		-
			message: "#^Parameter \\#2 \\$array of function array_map expects array, array\\<int, string\\>\\|false given\\.$#"
			count: 1
			path: app/Filament/Resources/PositionResource/Pages/ListPositions.php

		-
			message: "#^Call to static method make\\(\\) on an unknown class Filament\\\\Forms\\\\Components\\\\Section\\.$#"
			count: 3
			path: app/Filament/Resources/TransactionResource.php

		-
			message: "#^Call to an undefined static method App\\\\Models\\\\MonthlySnapshot\\:\\:orderBy\\(\\)\\.$#"
			count: 1
			path: app/Filament/Widgets/MonthlyReturnChart.php

		-
			message: "#^Call to an undefined static method App\\\\Models\\\\MonthlySnapshot\\:\\:orderBy\\(\\)\\.$#"
			count: 1
			path: app/Filament/Widgets/MonthlyValueChart.php

		-
			message: "#^Call to an undefined static method App\\\\Models\\\\PriceTick\\:\\:updateOrCreate\\(\\)\\.$#"
			count: 1
			path: app/Jobs/IngestCryptoPricesJob.php

		-
			message: "#^Call to an undefined static method App\\\\Models\\\\PriceTick\\:\\:updateOrCreate\\(\\)\\.$#"
			count: 1
			path: app/Jobs/IngestEquityPricesJob.php

		-
			message: "#^Call to an undefined static method App\\\\Models\\\\FxTick\\:\\:updateOrCreate\\(\\)\\.$#"
			count: 1
			path: app/Jobs/IngestFxRatesJob.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Portfolio\\:\\:\\$positions\\.$#"
			count: 1
			path: app/Jobs/MakeMonthlySnapshotJob.php

		-
			message: "#^Call to an undefined static method App\\\\Models\\\\FxTick\\:\\:where\\(\\)\\.$#"
			count: 1
			path: app/Jobs/MakeMonthlySnapshotJob.php

		-
			message: "#^Call to an undefined static method App\\\\Models\\\\MonthlySnapshot\\:\\:updateOrCreate\\(\\)\\.$#"
			count: 1
			path: app/Jobs/MakeMonthlySnapshotJob.php

		-
			message: "#^Call to an undefined static method App\\\\Models\\\\MonthlySnapshot\\:\\:where\\(\\)\\.$#"
			count: 4
			path: app/Jobs/MakeMonthlySnapshotJob.php

		-
			message: "#^Call to an undefined static method App\\\\Models\\\\PriceTick\\:\\:where\\(\\)\\.$#"
			count: 1
			path: app/Jobs/MakeMonthlySnapshotJob.php

		-
			message: "#^Method App\\\\Models\\\\Dividend\\:\\:portfolio\\(\\) should return Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo\\<App\\\\Models\\\\Portfolio, App\\\\Models\\\\Dividend\\> but returns Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo\\<App\\\\Models\\\\Portfolio, \\$this\\(App\\\\Models\\\\Dividend\\)\\>\\.$#"
			count: 1
			path: app/Models/Dividend.php

		-
			message: "#^Method App\\\\Models\\\\MonthlySnapshot\\:\\:portfolio\\(\\) should return Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo\\<App\\\\Models\\\\Portfolio, App\\\\Models\\\\MonthlySnapshot\\> but returns Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo\\<App\\\\Models\\\\Portfolio, \\$this\\(App\\\\Models\\\\MonthlySnapshot\\)\\>\\.$#"
			count: 1
			path: app/Models/MonthlySnapshot.php

		-
			message: "#^Method App\\\\Models\\\\Portfolio\\:\\:dividends\\(\\) return type with generic class Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany does not specify its types\\: TRelatedModel, TDeclaringModel$#"
			count: 1
			path: app/Models/Portfolio.php

		-
			message: "#^Method App\\\\Models\\\\Portfolio\\:\\:monthlySnapshots\\(\\) return type with generic class Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany does not specify its types\\: TRelatedModel, TDeclaringModel$#"
			count: 1
			path: app/Models/Portfolio.php

		-
			message: "#^Method App\\\\Models\\\\Portfolio\\:\\:positions\\(\\) return type with generic class Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany does not specify its types\\: TRelatedModel, TDeclaringModel$#"
			count: 1
			path: app/Models/Portfolio.php

		-
			message: "#^Method App\\\\Models\\\\Portfolio\\:\\:transactions\\(\\) return type with generic class Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany does not specify its types\\: TRelatedModel, TDeclaringModel$#"
			count: 1
			path: app/Models/Portfolio.php

		-
			message: "#^Method App\\\\Models\\\\Portfolio\\:\\:user\\(\\) return type with generic class Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo does not specify its types\\: TRelatedModel, TDeclaringModel$#"
			count: 1
			path: app/Models/Portfolio.php

		-
			message: "#^Method App\\\\Models\\\\Position\\:\\:portfolio\\(\\) return type with generic class Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo does not specify its types\\: TRelatedModel, TDeclaringModel$#"
			count: 1
			path: app/Models/Position.php

		-
			message: "#^Method App\\\\Models\\\\Position\\:\\:transactions\\(\\) return type with generic class Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany does not specify its types\\: TRelatedModel, TDeclaringModel$#"
			count: 1
			path: app/Models/Position.php

		-
			message: "#^PHPDoc tag @use has invalid type Database\\\\Factories\\\\SymbolFactory\\.$#"
			count: 1
			path: app/Models/Symbol.php

		-
			message: "#^Type Database\\\\Factories\\\\SymbolFactory in generic type Illuminate\\\\Database\\\\Eloquent\\\\Factories\\\\HasFactory\\<Database\\\\Factories\\\\SymbolFactory\\> in PHPDoc tag @use is not subtype of template type TFactory of Illuminate\\\\Database\\\\Eloquent\\\\Factories\\\\Factory of trait Illuminate\\\\Database\\\\Eloquent\\\\Factories\\\\HasFactory\\.$#"
			count: 1
			path: app/Models/Symbol.php

		-
			message: "#^Method App\\\\Models\\\\Transaction\\:\\:portfolio\\(\\) should return Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo\\<App\\\\Models\\\\Portfolio, App\\\\Models\\\\Transaction\\> but returns Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo\\<App\\\\Models\\\\Portfolio, \\$this\\(App\\\\Models\\\\Transaction\\)\\>\\.$#"
			count: 1
			path: app/Models/Transaction.php

		-
			message: "#^Method App\\\\Models\\\\Transaction\\:\\:position\\(\\) should return Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo\\<App\\\\Models\\\\Position, App\\\\Models\\\\Transaction\\> but returns Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo\\<App\\\\Models\\\\Position, \\$this\\(App\\\\Models\\\\Transaction\\)\\>\\.$#"
			count: 1
			path: app/Models/Transaction.php

		-
			message: "#^Generic type Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany\\<App\\\\Models\\\\Portfolio\\> in PHPDoc tag @return does not specify all template types of class Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany\\: TRelatedModel, TDeclaringModel$#"
			count: 1
			path: app/Models/User.php

		-
			message: "#^Method App\\\\Models\\\\User\\:\\:portfolios\\(\\) should return Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany\\<App\\\\Models\\\\Portfolio\\> but returns Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany\\<App\\\\Models\\\\Portfolio, \\$this\\(App\\\\Models\\\\User\\)\\>\\.$#"
			count: 1
			path: app/Models/User.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Dividend\\:\\:\\$portfolio\\.$#"
			count: 5
			path: app/Policies/DividendPolicy.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\MonthlySnapshot\\:\\:\\$portfolio\\.$#"
			count: 5
			path: app/Policies/MonthlySnapshotPolicy.php

		-
			message: "#^Parameter \\#1 \\$array of function array_diff expects array, array\\|false given\\.$#"
			count: 1
			path: app/Services/Import/DegiroDividendsParser.php

		-
			message: "#^Parameter \\#1 \\$keys of function array_combine expects array\\<int\\|string\\>, array\\|false given\\.$#"
			count: 1
			path: app/Services/Import/DegiroDividendsParser.php

		-
			message: "#^Parameter \\#1 \\$stream of function fclose expects resource, resource\\|false given\\.$#"
			count: 1
			path: app/Services/Import/DegiroDividendsParser.php

		-
			message: "#^Parameter \\#1 \\$stream of function fgetcsv expects resource, resource\\|false given\\.$#"
			count: 2
			path: app/Services/Import/DegiroDividendsParser.php

		-
			message: "#^Parameter \\#1 \\$stream of function fwrite expects resource, resource\\|false given\\.$#"
			count: 1
			path: app/Services/Import/DegiroDividendsParser.php

		-
			message: "#^Parameter \\#1 \\$stream of function rewind expects resource, resource\\|false given\\.$#"
			count: 1
			path: app/Services/Import/DegiroDividendsParser.php

		-
			message: "#^Parameter \\#1 \\$array of function array_diff expects array, array\\|false given\\.$#"
			count: 1
			path: app/Services/Import/DegiroPositionsParser.php

		-
			message: "#^Parameter \\#1 \\$keys of function array_combine expects array\\<int\\|string\\>, array\\|false given\\.$#"
			count: 1
			path: app/Services/Import/DegiroPositionsParser.php

		-
			message: "#^Parameter \\#1 \\$stream of function fclose expects resource, resource\\|false given\\.$#"
			count: 1
			path: app/Services/Import/DegiroPositionsParser.php

		-
			message: "#^Parameter \\#1 \\$stream of function fgetcsv expects resource, resource\\|false given\\.$#"
			count: 2
			path: app/Services/Import/DegiroPositionsParser.php

		-
			message: "#^Parameter \\#1 \\$stream of function fwrite expects resource, resource\\|false given\\.$#"
			count: 1
			path: app/Services/Import/DegiroPositionsParser.php

		-
			message: "#^Parameter \\#1 \\$stream of function rewind expects resource, resource\\|false given\\.$#"
			count: 1
			path: app/Services/Import/DegiroPositionsParser.php

		-
			message: "#^Parameter \\#1 \\$array of function array_diff expects array, array\\|false given\\.$#"
			count: 1
			path: app/Services/Import/DegiroTransactionsParser.php

		-
			message: "#^Parameter \\#1 \\$keys of function array_combine expects array\\<int\\|string\\>, array\\|false given\\.$#"
			count: 1
			path: app/Services/Import/DegiroTransactionsParser.php

		-
			message: "#^Parameter \\#1 \\$stream of function fclose expects resource, resource\\|false given\\.$#"
			count: 1
			path: app/Services/Import/DegiroTransactionsParser.php

		-
			message: "#^Parameter \\#1 \\$stream of function fgetcsv expects resource, resource\\|false given\\.$#"
			count: 2
			path: app/Services/Import/DegiroTransactionsParser.php

		-
			message: "#^Parameter \\#1 \\$stream of function fwrite expects resource, resource\\|false given\\.$#"
			count: 1
			path: app/Services/Import/DegiroTransactionsParser.php

		-
			message: "#^Parameter \\#1 \\$stream of function rewind expects resource, resource\\|false given\\.$#"
			count: 1
			path: app/Services/Import/DegiroTransactionsParser.php

		-
			message: "#^Cannot access offset 'adjclose' on mixed\\.$#"
			count: 2
			path: app/Services/Prices/YahooClient.php

		-
			message: "#^Cannot access offset 'indicators' on mixed\\.$#"
			count: 1
			path: app/Services/Prices/YahooClient.php

		-
			message: "#^Cannot access offset 'timestamp' on mixed\\.$#"
			count: 1
			path: app/Services/Prices/YahooClient.php

		-
			message: "#^Cannot access offset 0 on mixed\\.$#"
			count: 3
			path: app/Services/Prices/YahooClient.php

		-
			message: "#^Parameter \\#1 \\$timestamp of static method Carbon\\\\Carbon\\:\\:createFromTimestamp\\(\\) expects float\\|int\\|string, mixed given\\.$#"
			count: 1
			path: app/Services/Prices/YahooClient.php